upload.config.server = '' // Empty if the webapp is in the same place as the server
// upload.config.server = 'https://yourserver.com/' // If the webapp is separated from the server - remember the trailing slash
upload.config.api_key = '<%= @app_api_key -%>' // Should be the same as the server, used for uploading
upload.config.contact_link = '<%= @app_email -%>'
